
{% extends 'base.html' %}

{% block content %}


<main class = "container py-5">
    <section class="card card-body" style="margin-top: 12rem; width: auto;" >
          <h1 class = "display-1 text-center">TOURIZI</h1>
          <p class = "text-center">La primera App 100% realizada para turismo y transporte</p>

    
    <div class="text-center" >
          <a class = "btn btn-secondary" href="/signin/">
                Login
           </a>
          <a class = "btn btn-dark" href="/signup/">
                Registrar
           </a>
    </div>      
    </section>
    
</main>



{% endblock %}