HOME
{% extends 'base.html' %}

{% block content %}
<h1>homw</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis nemo reprehenderit quas, molestias corrupti repellendus illum. Eius aspernatur necessitatibus dolorum sunt ratione nemo excepturi earum quas quod porro, facilis ipsum iusto ducimus consequatur quae aut explicabo reiciendis dignissimos! Cum sit distinctio dignissimos porro adipisci neque asperiores ea impedit saepe quas facere dolorum recusandae, quis rerum cupiditate eligendi et a, maxime hic vero. Voluptatibus nam, porro modi dolore expedita ipsa beatae ex rem velit deserunt corporis doloribus perferendis! Corrupti magni necessitatibus nemo hic atque, quidem est accusantium. Voluptatum doloremque molestiae, quam eos adipisci commodi ut labore ducimus magni pariatur assumenda eveniet.</p>
{% endblock %}
