{% extends 'base.html' %}

{% block content %}
<div class="product-list">
    <h1 class="title">Sitios turísticos disponibles</h1>
    <div class="product-container">
        {% for product in products %}
        <div class="product-item">
            <h2>{{ product.name }}</h2>
            <p>Precio: USD {{ product.price }}</p>
            <form action="{% url 'create-checkout-session' product.id %}" method="post" data-product-id="{{ product.id }}">
                {% csrf_token %}
                <input type="submit" value="Comprar" {% if has_reached_limit %}disabled{% endif %}>
            </form>
            <form action="{% url 'delete2' product.id %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script>
    const stripe = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    
    document.querySelectorAll('form').forEach(function(form) {
        form.addEventListener('submit', function(event) {
            event.preventDefault();
            
            const productId = this.getAttribute('data-product-id');
            
            fetch("/create-checkout-session/" + productId + "/", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(data) {
                const sessionId = data.id;
                stripe.redirectToCheckout({ sessionId: sessionId });
            })
            .catch(function(error) {
                console.error(error);
            });
        });
    });
</script>

<style>
    .product-list {
        text-align: center;
    }

    .title {
        margin-top: 100px; /* Ajusta el valor según la separación deseada */
    }
    
    .product-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .product-item {
        margin: 10px;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 300px;
        text-align: center;
    }
</style>
{% endblock %}


