{% extends 'base.html' %}

{% block content %}



<div class = "card">
    <div class = "card-header">
        <strong class = "card-title">Listado de usuarios</strong>
    </div>
    <div class = "table-stats order-table ov-h">
        <table class = "table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Username</th>
                    <th>Nombres</th>
                    <th>Apellidos</th>
                    <th>Pais</th>
                    <th>¿Es un Guia?</th>
                    <th>¿Es un Cliente?</th>
                </tr>
            </thead>
            <tbody>
                {% for UsuarioPersonalizado in object_list %} 
                <tr>
                    <td>{{ UsuarioPersonalizado.id }}</td>
                    <td>{{ UsuarioPersonalizado.username }}</td>
                    <td>
                        {{ UsuarioPersonalizado.nombre }}
                    </td>
                    <td>{{ UsuarioPersonalizado.apellido }}</td>
                    
                    <td>{{ UsuarioPersonalizado.pais }}</td>
                    <td>{{ UsuarioPersonalizado.es_Guia }} </td>
                    <td>{{ UsuarioPersonalizado.es_Cliente }}</td>
                    <td>
                        <a href = "" class = "btn btn danger">Eliminar</a>
                        <a href = "" class = "btn btn-primary">Editar</a>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>
</div>



{% endblock %}