<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="inicio.css">
  <link rel="stylesheet" href="lugares.css">
    <title>Lugares</title>
</head>
<body>
    <header>
        <ul>
          <li><a class="nav-link active" href="inicio.html">Inicio</a></li>
          <li><a class="nav-link active" href="somos.html">Quienes Somos</a></li>
          <li><a class="nav-link active" href="lugares.html">Lugares</a></li>
          <li><a class="nav-link active" href="#">Login</a></li>
          <li><a class="nav-link active" href="#">Registrar</a></li>
      </ul>
      </header>
    <section class="show">
        <div class="properties-dave-grid-col-3-wrapper">
            <h4 class="title-container-main">Lugares</h4>
            <div class="description-wrapper">
                <p>
                    <div>
                        <p class="paragraph-wrapper">
                            A continuación se muestran los mejores lugares, seleccionados por nosotros, a los que
                            usted puede ir a hacer turismo. Lea su breve descripción que le dejamos para que pueda
                            decidir mejor y disfrute de nuestro servicio.
                        </p>
                    </div>
                </p>
            </div>
            <div class="flex-wrapper-main">
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/teatro.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Teatro Británico</h4>
                        <p class="description-wrapper">
                            Descripcion 1
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/mvl.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Ruta de Mario Vargas Llosa</h4>
                        <p class="description-wrapper">
                            Descripcion 2
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/larcomar.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Larcomar</h4>
                        <p class="description-wrapper">
                            Descripcion 3
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/kennedy.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Parque Kennedy</h4>
                        <p class="description-wrapper">
                            Descripcion 4
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/circuito.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Circuito de playas</h4>
                        <p class="description-wrapper">
                            Descripcion 5
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/parroquia.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Parroquia de la virgen milagrosa</h4>
                        <p class="description-wrapper">
                            Descripcion 6
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/museo_memoria.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Lugar de la memoria, la tolerancia y la inclusión social</h4>
                        <p class="description-wrapper">
                            Descripcion 7
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/sala.jpeg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Sala de arte Luis Miró Quesada</h4>
                        <p class="description-wrapper">
                            Descripcion 8
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/parque_reducto.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Parque Reducto N°2 Miraflores</h4>
                        <p class="description-wrapper">
                            Descripcion 9
                        </p>
                    </div>
                </div>
                <div class="card-main-item">
                    <div class="top-card-holder-wrapper">
                        <img class="icon" alt="icon" src="/image/museo.jpg">
                    </div>
                    <div class="bottom-card-holder-wrapper">
                        <h4 class="title-wrapper">Museo de Sitio Huaca Pucllana</h4>
                        <p class="description-wrapper">
                            Descripcion 10
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>