
{% extends 'base.html' %}

{% block content %}

<form id="register" class="text-center" action="{% url 'signup'%}" method="post">
    {% csrf_token %}

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Ingrese su nombre de usuario</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" name = " {{ signupForm.username }} ">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Nombre</span>
        <input type="text" class="form-control" placeholder="Nombre" aria-label="Nombre" aria-describedby="basic-addon1" name = " {{ signupForm.nombre }} ">
    </div>

    <div class="input-group mb-3">    
        <span class="input-group-text" id="basic-addon1">Apellido</span>
        <input type="text" class="form-control" placeholder="Apellido" aria-label="Apellido" aria-describedby="basic-addon1" name = " {{ signupForm.apellido }} ">
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Pais</span>
        <input type="text" class="form-control" placeholder="Pais" aria-label="Pais" aria-describedby="basic-addon1" name = " {{ signupForm.pais }} ">
    </div>

    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" name = "{{ signupForm.es_Guia }}">
        <label class="form-check-label" for="flexRadioDefault1">
        ¿Usted es guía?
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked name = "{{ signupForm.es_Cliente }}">
        <label class="form-check-label" for="flexRadioDefault2">
        ¿Usted es cliente?
        </label>
    </div>





    <label for="inputPassword5" class="form-label">Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock"   name =  "{{ signupForm.password }}">
    <div id="passwordHelpBlock" class="form-text">  
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </div>

    <label for="inputPassword5" class="form-label">Confirmar Password</label>
    <input type="password" id="inputPassword5" class="form-control" aria-labelledby="passwordHelpBlock" name = "{{ signupForm.password2 }} ">
    <div id="passwordHelpBlock" class="form-text"> 
    Your password must be 8-20 characters long, contain letters and numbers, and must not contain spaces, special characters, or emoji.
    </div>

    <button class="btn btn-primary btn-block mb-3" type="submit">Registrar</button>
</form>


{% endblock %}
