{% load static %}
<!DOCTYPE html>
<html>
<head>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js" integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'resumen_servicio.css'%}">
</head>
<body>
  <div class="container">
    <div class="summary">
      <h2>Resumen del Servicio:</h2>
      <ul>
        <li>Nombre: </li>
        <li>Precio: </li>
        <li>Horario: </li>
        <li>Cantidad Pasajero: </li>
        <!-- Aquí puedes iterar sobre los elementos obtenidos de la base de datos y generar los elementos de la lista dinámicamente -->
      </ul>
    </div>
    <div class="image">
      <img src="ruta-de-la-imagen.jpg" alt="Imagen">
    </div>
  </div>
</body>
</html>